#DEFAULTS
PORT=8080
ORIGIN_HOST=[]
#AUTH
SUPABASE_URL=https://xwz.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eeeey
# DB
#setup local
DB_NAME=local_datamedy
DB_USER=paul
DB_PASSWORD=123456
DB_PORT=5432
DB_HOST=localhost
DB_PORT_URL=6543
DIRECT_URL=
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:5432/${DB_NAME}?pgbouncer=false"
DIRECT_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:5432/${DB_NAME}"
# SENDGRID
SENDGRID_API_KEY=
SENDGRID_SENDER_EMAIL=

OPENAPI_KEY=SG.

SENTRY_URL=

